# Ignore Python cache
__pycache__/
*.py[cod]

bis.pdf
bis.xml
naturalgas.pdf
naturalgas.xml
boilers act.pdf
boilers act.xml
in-union-act-ministryofcivilaviation-2025-04-16-17-publication-document.pdf
in-union-act-ministryofcivilaviation-2025-04-16-17-publication-document.xml
textbuilder.py