pdfminer.six
scikit-learn
matplotlib
camelot-py[cv]
pandas
numpy
beautifulsoup4
lxml
fonttools
pytesseract
chrome-lens-py==3.3.1
pymupdf
fasttext
paddlepaddle==3.1.1
paddleocr==3.7.0
iiif
iiif-prezi
Pillow